.cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	margin-bottom: 50px;
	@include media (tablet) {
		grid-template-columns: 1fr 1fr;
	}
	@include media (desktop-s) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include media (desktop-m) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	&__big {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $light-grayish-blue;
		border-radius: 5px;
		padding: 38px 24px;
		position: relative;
		overflow: hidden;
		&::before {
			content: "";
			height: 4px;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
		}
		&--user {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			img {
				margin-right: 8px;
			}
			span {
				font-size: 14px;
				font-weight: 700;
				color: $dark-grayish-blue;
			}
		}
		&--followers {
			text-align: center;
			margin-bottom: 28px;
			h3 {
				font-size: 64px;
				color: $very-dark-blue;
			}
			p {
				text-transform: uppercase;
				color: $dark-grayish-blue;
				font-size: 14px;
				letter-spacing: 5px;
			}
		}
	}
	&__small {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding: 24px 24px;
		background-color: $light-grayish-blue;
		border-radius: 5px;
		&--header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
		}
		&--content {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			h1 {
				font-size: 36px;
				color: $very-dark-blue;
			}
		}
	}
	&__balance {
		display: flex;
		align-items: center;
		img {
			margin-right: 4px;
		}
		span {
			font-size: 12px;
			font-weight: 700;
		}
	}
	&--up {
		color: $lime-green;
	}
	&--down {
		color: $bright-red;
	}
}

.facebook::before {
	background: $facebook;
}
.twitter::before {
	background: $twitter;
}
.instagram::before {
	background-image: linear-gradient(to right, $instagram-from 0%, $instagram-to 100%);
}
.youtube::before {
	background: $youtube;
}