.switch-dark {
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	span {
		font-weight: 700;
		color: $dark-grayish-blue;
	}
}