// Mixins
@mixin container {
	width: calc(100vw - 40px);
	margin: 0 auto;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: $dark-grayish-blue;
}

section {
	@include container();
}

.overview {
	margin-bottom: 20px;
}